.header__wrapper{
    max-width: 1920px;
    width: 100%;
    
}

.header__wrapper .header__container{
  max-width: 1320px; 
  width: 100%;
  margin: auto;

   
}

.header__wrapper .header__container .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
   position: sticky;   
  top: 0;
  z-index: 1000;
  background: #fff;   
  border-bottom: 1px solid #e6e6e6; 
}

.header__wrapper .header__container .header__top .left__top{
   gap: 8px;
    
}

.header__wrapper .header__container .header__top .left__top i{
    color: var(--GrayScale);
}

.header__wrapper .header__container .header__top .left__top .top__p{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    font-family: var(--font-family);
    color: var(--GrayScale);
}

.header__wrapper .header__container .header__top .right__top{
    display: flex;
    gap: 20px;
} 

.header__wrapper .header__container .header__top .right__top .language__left{

    display: flex;
    width: 35px;
    height: 16px;
    gap: 6px;
}

.header__wrapper .header__container .header__top .right__top .language__left .caret__top{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    font-family: var(--font-family);
    color: var(--GrayScale);

}


.header__wrapper .header__container .header__top .right__top .language__left i{
    width:  7px;
    height: 3.5px;
    border: 1px;
    color: var(--GrayScale);
}

.header__wrapper .header__container .header__top .right__top .language__right .caret__top{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    font-family: var(--font-family);
    color: var(--GrayScale);

}


.header__wrapper .header__container .header__top .right__top .language__right i{
    width:  7px;
    height: 3.5px;
    border: 1px;
    color: var(--GrayScale);
}

.header__wrapper .header__container .header__top .right__top .right__hr{
    width: 15px;
    height: 0px;
    border: Allsides 1px #E6E6E6;
    rotate: 90deg;
   
}

.header__wrapper .header__container .header__top .right__top  .entry__exit a{

    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    font-family: var(--font-family);
    color: var(--GrayScale);
    text-decoration: none;
}



        /*? ----Middle Header---- */
.header__wrapper .header__container .header__middle{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header__wrapper .header__container .header__middle .middle__left{

  display: flex;
  gap: 8px;
}

.header__wrapper .header__container .header__middle .middle__title{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -3%;
    font-weight: 500;
    font-family: var(--font-family);
    color:var(--GrenGray);
}

.header__wrapper .header__container .header__middle .search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 6px;    
    position: relative;
}

.header__wrapper .header__container .header__middle .search-bar i {
    position: absolute;
    left: 4px;
    color: #888;
    font-size: 14px;
}

.header__wrapper .header__container .header__middle .search-bar .middle__input{
    width: 350px;             
    padding: 12px 18px 12px 36px;  
    border: none;
    outline: none;
    
}


.header__wrapper .header__container .header__middle .search-bar .middle__button{
    padding: 14px 24px;
    border-radius: 0 6px 6px 0;
    background-color: var(--Success);
    color: white;
    border: none;
}



.header__wrapper .header__container .header__middle .middle__right {
    display: flex;
    justify-content: center;
    align-items: center;
}



.header__wrapper .header__container .header__middle .middle__right .right__hr{
   width: 15px;
    height: 0px;
    border: Allsides 1px #E6E6E6;
    rotate: 90deg;
}

.header__wrapper .header__container .header__middle .middle__right .shopping__basket{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}